<div style="margin-top : 10px;">
  <ul class="list-group">
    <li *ngFor = "let complaint of myComplaints" class="list-group-item" style="background-color:gray(177, 175, 175);margin:1px">
      <a style="cursor:pointer" [routerLink] = "['/dashboard','detail',complaint.id]">
        <div>
          <label class="domain">Domain : </label>
          {{complaint.domain}}
          <br>
          <label class="subject">Subject : </label>
          {{complaint.subject}}
          <div *ngIf="complaint.isResolved == 0" style="float : right">
              <span class="badge badge-pill badge-danger">Pending</span>
            </div>
            <div *ngIf="complaint.isResolved == 1" style="float : right;">
              <span class="badge badge-pill badge-success">Resolved</span>
            </div>
        </div>
      </a> 
    </li>
  </ul>
</div>