<div class="container"  >
    <div class="jumbotron" >



    <h1>Form </h1>
  <form #complaintForm="ngForm" method = "post" (ngSubmit)=submitForm(complaintForm)>

      <div class="form-group">
          <label for="domain">
              Domain :
          </label>
               
    
    <select  class = "form-control"name="domain" id="domainList" ngModel required>
      <option value="Lilavati">Lilavati</option>
      <option value="Bhaskara">Bhaskara</option>
      <option value="Library">Library</option>
      <option value="Sports">Sports</option>
      <option value="Mess">Mess</option>
      
    </select>
  </div>

  <div class="form-group">
      <label for="subject">
          Subject : 
      </label>
      <input type="text" class = "form-control" name="subject" placeholder="Subject" ngModel required>
    </div>

    <br>

    <div class="form-group">
        <label for="description">
            Description : 
        </label>
        <input type="text" class = "form-control" name="description" placeholder="Description" ngModel required>
      </div>
    
    <br/>
    

    <div class="form-group">
        <label for="confidentiality">
            Confidentiality : 
        </label>
        <input type="radio" name = "privacy" value = 1 ngModel required>Anonymous   
        <input type="radio" name = "privacy" value = 0 ngModel required>Public
      </div>
  
    
    <br/>  
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary" [disabled] = "complaintForm.invalid">Submit</button> 
    </div>
  </form>
  
  </div>
  </div>
  
