 <div style = "text-align:center">
  <b>Form </b>
<form method = "post">
  <b>Domain : </b>
  <select name="domain" id="domainList">
    <option value="lilavati">Lilavati</option>
    <option value="bhaskara">Bhaskara</option>
    <option value="library">Library</option>
    <option value="sports">Sports</option>
    <option value="mess">Mess</option>
  </select>
  <br>
  <b>Subject : </b>
  <input type="text" name="subject" placeholder="Subject">
  <br>
  <b>Description:</b>
  <input type="text" name="description" placeholder="Description">
  <br/>
  <b>Duration : </b>
  <input type="number" name = 'duration' placeholder="Days since problem faced"> 
  <br>
  <b>Confidentiality : </b>
  <input type="radio" name = "anonymous" value = "anonymous">Anonymous   
  <input type="radio" name = "public" value = "public" checked>Public
  <br>  
  <button type="submit">Submit</button> 
</form>

</div>
