<div class="container"  >
    <div class="jumbotron" >



    <h1>Form </h1>
  <form #frm="ngForm" method = "post">

      <div class="form-group">
          <label for="domain">
              Domain :
          </label>
               
    
    <select  class = "form-control"name="domain" id="domainList" ngModel required>
      <option value="lilavati">Lilavati</option>
      <option value="bhaskara">Bhaskara</option>
      <option value="library">Library</option>
      <option value="sports">Sports</option>
      <option value="mess">Mess</option>
      
    </select>
  </div>

  <div class="form-group">
      <label for="subject">
          Subject : 
      </label>
      <input type="text" class = "form-control" name="subject" placeholder="Subject" ngModel required>
    </div>

    <br>

    <div class="form-group">
        <label for="description">
            Description : 
        </label>
        <input type="text" class = "form-control" name="description" placeholder="Description" ngModel required>
      </div>
    
    <br/>
    

    <div class="form-group">
        <label for="confidentiality">
            Confidentiality : 
        </label>
        <input type="radio" name = "anonymous" value = "anonymous" ngModel required>Anonymous   
        <input type="radio" name = "public" value = "public" checked ngModel required>Public
      </div>
  
    
    <br/>  
    <button type="submit" class="btn btn-success" [disabled] = "frm.invalid">Submit</button> 
  </form>
  
  </div>
  </div>
  
