.domain{
    color: #7b7b7c;
    font-weight: bold;
}
.subject{
    color: #7b7b7c;
    font-weight: bold;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
.complaint-item:hover{
    box-shadow: 2px 2px 5px gray;
}