<div class="jumbotron col-lg-10" style="margin:0 auto;text-align:center;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink = "/dashboard/all">All Complaints</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "/dashboard/mine">My Complaints</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "/dashboard/form">Make Complaint</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "/">Logout</a>
    </li>
  </ul>
  <router-outlet></router-outlet> 
</div>
